$line: #424242;

aside {
	border-right: 1px solid $line;
}

.calendarMain {
	display: grid;
	grid-template-columns: 2fr 8fr;
	main {
		.search {
			height: 100px;
			border-bottom: 1px solid $line;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 32px;

			position: relative;

			.icon {
				position: absolute;
				left: 47px;
			}

			input {
				border: none;
				height: 40px;
				width: 550px;
				background: #2c2c2c;
				outline: none;
				border-radius: 10px;
				padding: 10px 10px 10px 50px;
				font-size: 20px;
			}
			.management {
				display: flex;
				gap: 10px;
			}
		}
	}
}

.projectTitle {
	display: flex;
	padding: 40px 25px;
	justify-content: space-between;

	h2 {
		margin: 0;
	}

	button {
		background: none;
	}
}
