$line: #424242;

aside {
	border-right: 1px solid $line;
}

.calendarMain {
	display: grid;
	grid-template-columns: 2fr 8fr;
	main {
	}
}

.projectTitle {
	display: flex;
	padding: 40px 25px;
	justify-content: space-between;

	h2 {
		margin: 0;
	}

	button {
		background: none;
	}
}
