$line: #424242;

.sidebar {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 20vh;

	.mode {
		display: flex;
		flex-direction: column;
		gap: 5vh;

		button {
			background: none;
		}
	}
	border-right: 1px solid #424242;

	button {
		border-radius: 8px;
		border: 1px solid transparent;
		padding: 0.6em 1.2em;
		font-size: 1em;
		font-weight: 500;
		font-family: inherit;
		background-color: #1a1a1a;
		cursor: pointer;
		transition: border-color 0.25s;
	}
	button:hover {
		border-color: #646cff;
	}
	button:focus,
	button:focus-visible {
		outline: 4px auto -webkit-focus-ring-color;
	}
}

.search {
	height: 100px;
	border-bottom: 1px solid $line;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 32px;

	position: relative;

	.icon {
		position: absolute;
		left: 47px;
	}

	input {
		border: none;
		height: 40px;
		width: 550px;
		background: #2c2c2c;
		outline: none;
		border-radius: 10px;
		padding: 10px 10px 10px 50px;
		font-size: 20px;
	}
	.management {
		display: flex;
		gap: 10px;
	}
}
